doctype html
html
  head
    title Voting App Project
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/style.css')
  body
    nav.navbar.navbar-default
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Voting App Project
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/poll/all').btn.btn-success.navbar-btn(type='button', style='background-color:green; color:white; margin:5px;')
                i.fa.fa-comments
                |  Polls
            
            if !isauthenticated
                li
                  a(href='/auth/twitter').btn.navbar-btn(type='button', style='background-color:#2AA3EF; color:white; margin:5px;')
                    i.fa.fa-twitter
                    |  Sign in
            else
                li
                    a(href='/poll/new').btn.btn-primary.navbar-btn(type='button', style='color:white; margin:5px;')
                    | New Poll
                li
                   a(href='/logout').btn.btn-danger.navbar-btn(type='button', style='color:white; margin:5px;')
                    | Logout
    block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='/js/bootstrap.js')


