extends layout.pug

block content
        .container
                .jumbotron.text-center
                        h1.fa.fa-comments Let's share your thoughts
                if err
                    p.text-danger err
                if polls
                        .jumbotron.text-center
                            if polls.length === 0
                                p No polls to display
                            else
                                each poll in polls 
                                        a(href='/poll/' + poll._id)
                                                div.well
                                                        span #{poll.title} #[a(href="/poll/delete/" + poll._id).btn.btn-danger.delete-button Delete]