.navbar-btn-right{
    color:white !important;
    margin:5px;
}
body{
    padding-top: 70px;/*To avoid content under the fixed navbar*/ 
}

.navbar-btn-right-twitter{
    color:white !important;
    background-color:#2AA3EF;
    margin:5px;
}
